[submodule "omz"]
	path = omz
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
