[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vendor/tmux-mem-cpu-load"]
	path = vendor/tmux-mem-cpu-load
	url = git://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "awesome-rc"]
	path = awesome-rc
	url = git@github.com:Aparicio99/awesome-rc.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
