[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vendor/tmux-mem-cpu-load"]
	path = vendor/tmux-mem-cpu-load
	url = git://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "osx-solarized"]
  path = osx-terminal.app-colors-solarized
  url = git@github.com:tomislav/osx-terminal.app-colors-solarized.git
[submodule "autojump"]
  path = autojump
  url = git@github.com:wting/autojump.git
