snippet sig "Email signature"
Maarten Slagter - PhD student
labs of Ton Schumacher and Lodewyk Wessels
Netherlands Cancer Institute
m.slagter@nki.nl
endsnippet

snippet gc "Shortened git commit" 
`git log --abbrev-commit | awk 'NR == 1 {print $2}'`
endsnippet
