extends r, md

snippet rc "Code block"
\`\`\`\{r, warning=FALSE}
${0}${VISUAL}
\`\`\`
endsnippet

snippet rcs "Code block"
\`\`\`\{r, warning=FALSE}
endsnippet

snippet rce "Code block"
\`\`\`
endsnippet

snippet com "Commented out"
<!-- ${VISUAL} -->
endsnippet

snippet mcom "Commented out"
<!-- 
${VISUAL} 
-->
endsnippet
