extends r, md

snippet rc "Code block"
\`\`\`\{r, ${1}, warning=FALSE, echo=FALSE}
${0}${VISUAL}
\`\`\`
endsnippet

snippet rcs "Code block start"
snippet rcs "Code block"
\`\`\`\{r, warning=FALSE}
endsnippet

snippet rce "Code block ending"
\`\`\`
endsnippet

snippet com "Commented out"
<!-- ${VISUAL} -->
endsnippet

snippet mcom "Commented out"
<!--
${VISUAL}
-->
endsnippet

snippet sal "Save and load"
mySaveObject(${0})
# ${0} <- myLoadObject(${0})
endsnippet
