snippet ref "\ref{}" w
\ref{$1}
endsnippet

snippet figref "figure ref" w
Figure~\ref{fig:${VISUAL}}
endsnippet

snippet em "Emphasized phrase" w
\emph{${VISUAL}} ${0}
endsnippet

snippet bf "Bold phrase"
\bf{$1} ${0}
endsnippet

snippet cb "Curly brackets around word"
\`\`$1'' ${0}
endsnippet
